[2021-05-11 16:00] ethanblake4 opened #1 "Add support for while loops"
This will need:
Support in the parser (parser.dart)
A DartWhileStatement class that executes the while loop (statements.dart)

See the for loop class for reference

[2021-05-11 16:04] ethanblake4 opened #2 "Add support for Sets"
This will need:
Support in the parser (parser.dart)
A new EvalSet type in primitives.dart
A new DartSetLiteral class in literals.dart
???

[2021-05-11 16:07] ethanblake4 opened #3 "Add support for +=, -=, /=, and *= asssignment operators"
This requires changes to EvalAssignmentExpression but most likely nothing else. See PostfixExpression for a good reference.

[2021-05-11 16:08] ethanblake4 opened #4 "Add support for ++i and --i prefix operators"
This requires support in the parser (parser.dart) and a new PrefixExpression class in expressions.dart. See PostfixExpression for a good reference.

[2021-05-11 16:09] ethanblake4 opened #5 "Add support for string interpolation"
This requires support in the parser and a new InterpolatedStringExpression class or similar.

[2021-05-12 02:15] ethanblake4 opened #6 "Add interfaces"
For eval native: nothing needs to be done here until we implement a real type system

For bridge: 1 interface should be fairly easy, but we need to figure out multiple.

[2021-05-12 02:15] ethanblake4 opened #7 "Add mixins"
Multiple interfaces for bridge still need to be figured out.

[2021-05-12 02:17] ethanblake4 opened #8 "Add foreach (non-async)"

[2021-05-12 02:17] ethanblake4 opened #9 "Add Iterable"

[2022-01-12 14:21] goflutterjava opened #10 "Can dart_eval support await?"
Thanks for your reply :)

[2022-01-12 14:59] chuangers opened #11 "Unknown field '&&'"
I have this expression : "if (x>=50 && x<65) {return '-1';}" and when I want to scope '&&'  isn't recognize.

The stacktrace :
![image](https://user-images.githubusercontent.com/95850980/149165428-62d770ec-f810-4e80-a22d-6d55e87ca0a2.png)

Thank you for your reply.

[2022-01-12 20:34] ethanblake4 commented on #10
Hi!

The current AST implementation of dart_eval will soon be replaced by the [dbc-ir](https://github.com/ethanblake4/dart_eval/tree/dbc-ir) bytecode interpreter version, hopefully within a month. I am currently working on the implementation of closures there, and you can expect that it will support basic callback-based concurrency using Future.then() at or shortly after launch. Async/await will c

[2022-01-12 20:43] ethanblake4 commented on #11
Hi!

The current implementation of dart_eval will be shortly replaced by the [dbc-ir](https://github.com/ethanblake4/dart_eval/tree/dbc-ir) bytecode interpreter version. So, I am not going to make any updates to this version personally. But if you want I am happy to accept a PR, the relevant code to add is in EvalBool in the primitives.dart file.

[2022-01-12 23:24] chgibb opened #12 "Looking to Collaborate"
Hi @ethanblake4 ! I think we exchanged some posts over Reddit about a year ago (and what a long year it's been).

I'm a huge fan of your work! I think it's amazing that you're building a DBC interpreter in Dart!

I'm building [Hydro-SDK](https://hydro-sdk.io/). Hydro-SDK aims to allow developers to author Flutter content and to [publish and update that content over the air](https://hydro-sdk.io/bl

[2022-01-13 01:16] goflutterjava commented on #10
@ethanblake4 Thanks for your reply :), when I use `futuer.then()`, It comes an error `Unknown field 'then'`. Which means I need to define `future` in Parser, Are there already-defined future in this library

[2022-01-13 02:02] ethanblake4 commented on #12
Hey @chgibb ! Of course I remember - it was our conversation that inspired me to start building the bytecode VM version, and I've been a fan of Hydro for a while. In fact I was thinking of reaching out to you about some sort of integration as well :)

I do want to make the note that what I have is not a [DBC bytecode](https://github.com/dart-lang/sdk/issues/35773) interpreter - actually, I didn't

[2022-01-13 02:11] ethanblake4 commented on #10
Correct, it does not have it right now. It will have it in about a month, in the new version which also has a lot of other changes.

Defining it as a bridge class yourself in Parser might work, but neither master or dbc-ir branch supports closures yet. I think (maybe) the master branch supports tear-offs so you might be able to use that.

[2022-01-13 18:49] chgibb commented on #12
The fact that it is a custom bytecode format is even more impressive! I've sent you an email 🙂

[2022-01-14 08:58] goflutterjava commented on #10
looking forward to your great work! Thanks

[2022-01-14 08:58] #10 closed

[2022-01-14 20:29] #12 closed

[2022-01-21 13:34] SahajRana opened #15 "An example for implementing Flutter with this lib"
Hi @ethanblake4, this is truly a great lib & exactly what I was looking for. You have mentioned that we can use Flutter widgets with this lib. I tried to add them using the example you have mentioned. But from my approach, it seems I have to add boilerplate code for all the required Widgets ie for text, container, etc. Is there a better way to approach this? Could you share an example, if possible

[2022-01-21 13:50] #11 closed

[2022-01-21 17:00] ethanblake4 commented on #15
Hi @SahajRana, thanks for the kind words. Unfortunately that is currently the only way to do it. I am collaborating with Hydro SDK to integrate automatic binding generation and hope to get it done within a few months. In the meantime I suggest you use Hydro SDK for Flutter codepush, if you're OK with using Typescript.

[2022-01-21 17:26] SahajRana commented on #15
@ethanblake4, Typescript is the biggest reason I'm not using Hydro & came for this lib. As it would mean to code in two languages a single functionality. I believe that what you are doing here is the right recipe for code push as it will save people from using two different languages (Using typescript would also make using flutter of no use, as then in my opinion one can go with react-native path)

[2022-01-21 18:44] SahajRana commented on #15
Thanks for the share! I will follow this example to get things done for now. Eagerly waiting for in-built flutter support on it.🤞 I would try to contribute to this lib in my free time.

[2022-01-22 07:19] SahajRana commented on #15
@ethanblake4, it seems like the `dart_eval` lib doesn't support a lot of functionality yet like maths, string interpolation, etc. I tried `dbc-ir` lib, but it seems to have changed a lot of classes & implementations in it. So, the given example wasn't working with it. I tried to update with `dbc-ir` counterparts, but was not able to completely convert it. If you could share an example with flutter

[2022-01-22 07:31] ethanblake4 commented on #15
Thanks for the feedback. Yes, dart_eval is missing a lot of features right now. I also wouldn't suggest trying to use `dbc-ir` since it mostly has the same limitations and even more than the default version.

If there are specific features you are looking for please let me know and I will prioritize them; but generally it will take probably ~a year before dart_eval covers the majority of the Dart

[2022-01-22 07:45] SahajRana commented on #15
@ethanblake4, have you looked into [https://pub.dev/packages/petitparser](url) & [https://pub.dev/packages/expressions](url). I have used them & they might help you with dart expressions implementation & might save a lot of time. The big problem with them is that they can do all kinds of expressions but not classes or functions which this lib does. So, if you can combine both (this lib & petitpars

[2022-01-22 07:58] ethanblake4 commented on #15
I am using the Dart analyzer package which already does most of the work in terms of parsing, expression types and operator precedence etc. So, those libs would not be helpful (and probably not possible to integrate well). Thanks for the suggestion though.

If you are looking for a way to be able to put in any generic Flutter code and have it function, that's not going to be possible for a while,

[2022-01-22 08:23] SahajRana commented on #15
@ethanblake4, I would love to contribute to it as for me it is inevitable to create a sim. It's just a question of priority. Nevertheless, I think, I might be able to start working on it from Feb or maybe sooner depending on the priority list.

Just to mention, I meant evaluation of the expressions in this [https://pub.dev/packages/expressions](https://pub.dev/packages/expressions) like maths, log

[2022-01-22 16:11] ethanblake4 commented on #15
Ok cool, well certainly let me know :)

I know, the problem with that package though is it just doesn't support all the things we need. Like it will work fine if you are just doing `2 + 2`, but what if you did `2 + [new DateTime()][0].millisecondsSinceEpoch`? That's perfectly valid Dart code so I hope you can see why it wouldn't work.

[2022-01-24 13:03] soahyle commented on #15
Hi @ethanblake4, could I ask how Hydro SDK helps to solve the problem? I would like to try out Hydro SDK, but I prefer Dart more instead of TS.

[2022-03-09 08:52] onlytheworld opened #16 "How to import Library in dart_eval"
For example, is it possiable to implement package:http with this lib like
[code]

[2022-04-24 07:49] goflutterjava opened #18 "How to define a future type when using bridge mode"
[code]
I saw the example in `dart_eval_example`, how to define a type which returns `Future<String>`

[2022-04-24 09:27] ethanblake4 commented on #18
`BridgeTypeAnnotation(BridgeTypeReference.unresolved(BridgeUnresolvedTypeReference('dart:core', 'Future'), []), false)`.

Currently only `Future` is supported not `Future<String>`, but it works like Future<dynamic> so it can support any type.

[2022-04-24 12:45] #18 closed

[2022-04-24 12:47] goflutterjava opened #19 "Null check operator used on a null value"
original class
[code]
bridge class
[code]
eval code
[code]
Error Message
[code]

[2022-04-25 00:34] ethanblake4 commented on #19
There are a lot of problems. You are trying to create an `OpenApiSyncDebug()` but you did not make a bridge declaration for that, you only made it for the `OpenApiAsyncDebug`. Even for the async one you only made the compiler bridge `$declaration` but it's not a runtime bridge, the OpenApiAsyncBridge needs to `extends OpenApiAsyncDebug with $Bridge<OpenApiAsyncDebug>` and override the $bridgeGet,

[2022-04-26 00:19] ethanblake4 commented on #1
Completed in #17

[2022-04-26 00:19] #1 closed

[2022-04-26 00:19] ethanblake4 commented on #3
Completed in #17

[2022-04-26 00:19] #3 closed

[2022-04-26 00:35] ethanblake4 opened #20 "Binding generation"
dart_eval should have a tool to scan an existing package (including the Dart and Flutter SDK) and auto-generate bindings. Maybe can use package:build?

(for anyone who finds this: If you need to write bindings right now I suggest using GitHub Copilot, it does a fairly good job generating the boilerplate)

[2022-04-26 04:05] ethanblake4 opened #21 "CLI: compile external packages"
The dart_eval CLI should compile app dependencies from Pub, etc. Data about packages created by "pub get" is in .dart_tool/package_config.json.

[2022-04-26 04:06] ethanblake4 commented on #16
Closing this in favor of #20 and #21

[2022-04-26 04:06] #16 closed

[2022-04-26 04:09] ethanblake4 opened #22 "Flutter bindings"
Bindings for Flutter are highly requested. Long term, this will come as a result of #20 but in the short term it would be nice to have some basic support for common Flutter widgets.

[2022-04-26 04:09] ethanblake4 commented on #15
Closing in favor of #22 and #20

[2022-04-26 04:09] #15 closed

[2022-04-26 21:36] ethanblake4 commented on #6
As of https://github.com/ethanblake4/dart_eval/commit/a7c88ecdc58e9ca97a1c4b508cda74fc91bee95e this is supported for eval native

[2022-04-30 21:48] ethanblake4 opened #24 "Tree-shaking"
As of https://github.com/ethanblake4/dart_eval/commit/8d3ed66a78c8dea1f13e78bcc28a31c601fa5b94 the compiler uses graphs to compose imports, which should make (basic, import-based) tree-shaking fairly straightforward.

However, given that you currently can use any function as an entrypoint it's unclear how best to implement this. Probably isn't relevant until #21 is finished.

[2022-05-17 22:22] maks opened #25 "Errors in current main"
First off thank you very much for creating this awesome package!

I cloned current `main` (18999d081d2458cf) and tried to run the example but I get these errors:
[code]

It seems like `source_node_wrapper.dart` hadn't been commited? I saw there was a dev dep on `builder_runner`  so I ran it, but that didn't generate any files.

[2022-05-18 17:54] ethanblake4 commented on #25
Thanks for the catch! Fixed in https://github.com/ethanblake4/dart_eval/commit/fefc715b8872599a6b801ac081fa5c4f77c93f81

[2022-05-18 17:54] #25 closed

[2022-05-19 01:31] maks opened #26 "Support String.substring()"
I'm trying to figure out what is supported for core types. Eg I have a simple test harness:
[code]

If my program text is:
[code]
I get the expected result: `eval result:false`

For:
[code]
However I get:
[code]

Is this because only Getters/Setters are curently supported?
The reason I'm trying this is to see if its possible now or in future for `dart_eval` to do "transparent" interop with "real d

[2022-05-20 05:10] ethanblake4 commented on #26
Thanks for the great Q! This is because there's currently no binding for the `substring` method. To support this you would simply add a known method [here](https://github.com/ethanblake4/dart_eval/blob/06dda6a8a2aaea4f8d0dca947f7efa2e5e932ce8/lib/src/eval/compiler/builtins.dart#L191) and a runtime binding [here](https://github.com/ethanblake4/dart_eval/blob/06dda6a8a2aaea4f8d0dca947f7efa2e5e932ce8

[2022-05-20 05:59] maks commented on #26
Awesome! Thanks for the pointers to the bits of the code, thats making more sense now that I know where to look 👍🏻
And definitely would like to contribute, its a pretty simple addition, but this should help me start to find my way around the codebase.

[2022-05-20 20:14] ethanblake4 commented on #26
Going to rename this since we covered the title question. Feel free to reach out if you have q's, thanks for wanting to contribute.

ps. I need to revamp the 'known method' system that I pointed you to, ultimately the core types should primarily use the bridge system like [Future already does](https://github.com/ethanblake4/dart_eval/blob/06dda6a8a2aaea4f8d0dca947f7efa2e5e932ce8/lib/src/eval/share

[2022-06-06 10:22] maks opened #27 "failing tests"
With the current main branch (06dda6a8a2aa) I get the following tests failing.
It looks like they are all around the result having a extra type prefix, eg.
[code]
Should they all be updated for the new dollar-sign prefix?

Also would it be worth setting up a Github actions CI build for this repo to catch these in the future?

I'm happy to contribute a PR to fix both these if you would like?

[code

[2022-06-06 17:33] ethanblake4 commented on #27
Hey thanks for catching this. I'll take a look and fix these shortly, might be more involved than it seems (I'm pretty sure replacing with `$int` [isn't the correct fix](https://github.com/ethanblake4/dart_eval#return-values), for example).

If you want to submit a PR to setup CI though that would be greatly appreciated! :)

[2022-06-06 23:23] maks opened #28 "add CI to run tests"

[2022-06-06 23:24] maks commented on #27
haha yes I thought it may not be as easy as that 🙂
I've added #28 for the CI part, I'll have a PR submitted shortly.

[2022-06-07 01:41] ethanblake4 commented on #28
Hm, looks like the workflow you added doesn't work since this repo was made before `master` was changed to `main`, and your action uses `main`. Can you please create a new PR to fix?

I'm testing with https://github.com/ethanblake4/dart_eval/pull/31 which fixes #27.

[2022-06-07 01:44] maks commented on #28
oops sorry I completely missed the difference in branch names! I'll fix that right away

[2022-06-07 01:56] maks commented on #28
ok the first run seems to have worked with my PR that fixed the branch name: https://github.com/ethanblake4/dart_eval/actions/runs/2451609736
though of course it failed on running the tests steps.

@ethanblake4 I also commented out the dart format check step as I didn't know if you want to have the formatted rules enforced.

[2022-06-07 01:56] #27 closed

[2022-06-07 01:57] ethanblake4 commented on #28
sweet! just remade #31 into https://github.com/ethanblake4/dart_eval/pull/33 and all the tests passed :) thanks for your help

[2022-06-07 01:57] #28 closed

[2022-06-07 01:59] maks commented on #28
awesome and thank you for working on this so quickly, much appreciated! 👍🏻

[2022-06-08 05:12] maks commented on #26
@ethanblake4 I had a go at implementing `substring()` but I seem to have run into an odd issue where the arguments don't seem to be handled correctly. Eg. I have test code like this:
[code]
and I've add my substring impl code to `builtins.dart` and `base.dart` as you suggested like so:
[code]
Unfort while my `_substring()` in base.dart gets called, its `args` list is empty.

And when I set a break

[2022-06-08 15:56] ethanblake4 commented on #26
Can I see what you put in `builtins.dart`? Maybe you forgot to add the KnownMethodArgs there, if the compiler doesn't know there's supposed to be args it won't handle them.

[2022-06-08 23:10] maks commented on #26
@ethanblake4 yes sorry about that, I should have just pushed up my WIP branch. Its here: https://github.com/maks/dart_eval/tree/26-add-string-builtins

But yes I did see that I needed to add `KnownMethodArgs` which you can see I added and set the 2nd on to be optional & nullable and the first to not be. So thats what got me stumped, as I couldn't quite figure out which part of the code makes use o

[2022-06-08 23:40] ethanblake4 commented on #26
Huh, I guess this actually just wasn't implemented for `KnownMethod`s. Good case study in why I want to get rid of it - way too much code that needs to be duplicated. I'm surprised I hadn't encountered this before though.

Anyway, fixed in https://github.com/ethanblake4/dart_eval/commit/bde4006661c1762d70419f39785caaf30fa36a22 :)

[2022-06-08 23:43] maks commented on #26
awesome, thanks for fixing that so quickly! 👍🏻 🎉
I'll try to get this finished off now.

[2022-06-09 00:49] maks commented on #26
sorry @ethanblake4 I think this substring implementation is proving trickier than it first looked.
I got it working when passing in both required and optional params, but when omitting the optional param, it throws from a out of bounds array access in here: https://github.com/ethanblake4/dart_eval/blob/master/lib/src/eval/compiler/helpers/argument_list.dart#L134

which makes sense as the optional

[2022-06-09 01:04] ethanblake4 commented on #26
That's a super elegant solution thanks! I'll probably reuse that in other places since dart_eval doesn't really support optional positional parameters at all currently.

As far as the error, looks like it got cut off. With the next line included it's:
[code]

I suspect you can figure out exactly what the fix is now :)

[2022-06-09 01:35] maks commented on #26
doh! 🤦🏻‍♂️ how foolish of me and super annoying the VSCode terminal cutoff that line, no idea why it did that.
Anyways the PR is ready now: https://github.com/ethanblake4/dart_eval/pull/35

Thanks @ethanblake4 for your help with it, it's been a very valuable learning experience!

If it makes sense I can add in support for the remaining String methods or did you mention you were working on a better

[2022-06-09 01:49] #26 closed, assigned to nobody

[2022-06-09 01:55] ethanblake4 commented on #26
@maks merged it! thank you!

Also don't blame VS Code, the cutoff is [my fault](https://github.com/ethanblake4/dart_eval/blob/62e0149867a758627576e9496c2837b52b4089b2/lib/src/eval/runtime/runtime.dart#L514). I found 3 lines to be less annoying since I'm usually looking more at the dart_eval debug info, but it should probably have a better heuristic.

Go ahead that'd be fantastic! Replacing KnownMe

[2022-06-09 11:01] maks opened #37 "Implement remaining String methods"
Only a few of the String methods have been implemented so far.

I have a [in-progress PR](https://github.com/ethanblake4/dart_eval/pull/36) to implement the remainder.

[2022-06-12 04:57] ethanblake4 opened #38 "Support bool literals"
Support bool literals `true` and `false`

[2022-06-12 04:58] ethanblake4 opened #39 "Support boxing bool types"
Should support boxing bool types

[2022-06-12 05:00] ethanblake4 opened #40 "Support && and || operators for bool"
Needs runtime support and symbol recognition for compileBinaryExpression. Should probably be ops so dart_eval can evaluate without boxing.

[2022-06-13 02:48] #38 closed

[2022-06-13 02:49] ethanblake4 commented on #39
Fixed in https://github.com/ethanblake4/dart_eval/commit/dab728fe6b3f3a57200b9927d314f5637f41791e

[2022-06-13 02:49] #39 closed

[2022-06-13 02:49] ethanblake4 commented on #40
Fixed in https://github.com/ethanblake4/dart_eval/commit/dab728fe6b3f3a57200b9927d314f5637f41791e

[2022-06-13 02:49] #40 closed

[2022-08-04 05:28] hellokai55 opened #42 "Cannot open file, path = 'out.dbc' (OS Error: Read-only file system, errno = 30)"
════════════════════════════════════════════════════════════════════════════════

════════ Exception caught by gesture ═══════════════════════════════════════════
Cannot open file, path = 'out.dbc' (OS Error: Read-only file system, errno = 30)
════════════════════════════════════════════════════════════════════════════════

[2022-08-09 12:54] viniciusamelio commented on #42
im facing the same issue

[2022-08-12 18:19] viniciusamelio commented on #42
solved it by reading saved script using the [path_provider](https://pub.dev/packages/path_provider) lib

[2022-08-20 06:11] ethanblake4 commented on #42
Thanks @viniciusamelio for that solution. The new [flutter_eval](https://pub.dev/packages/flutter_eval) package is the recommended way to use dart_eval in a Flutter context and it uses path_provider internally so I'm gonna close this.

[2022-08-20 06:11] #42 closed

[2022-08-23 04:15] ethanblake4 commented on #22
Done! https://pub.dev/packages/flutter_eval

[2022-08-23 04:15] #22 closed

[2022-08-24 08:05] smiLLe opened #43 "Error using example from Readme"
Hi,
the following code is taken from README.md.
It will result in list of Errors using ^0.4.1.

[code]

[code]

[2022-08-24 14:32] ethanblake4 commented on #43
Hm, looks like my analyzer version constraint might be too weak. Can you try adding `analyzer: ^4.6.0` in the dependencies section of your pubspec and running pub get?

[2022-08-25 03:11] ethanblake4 commented on #43
Fixed in https://github.com/ethanblake4/dart_eval/commit/5982d97455b51c13a2a6750fa8a5cbd2e8b07d3a

[2022-08-25 03:11] #43 closed

[2022-09-07 00:55] ethanblake4 commented on #5
Completed in https://github.com/ethanblake4/dart_eval/commit/eaa0a049a7f6a8c17686fdf8fe330592fc0ccf3f

[2022-09-07 00:55] #5 closed

[2022-09-07 15:26] liudonghua123 opened #45 "dart_eval runtime exception: type '$String' is not a subtype of type 'List<dynamic>' in type cast"
I tried to run the following example code. But it failed with the following errors.

[code]

[code]

And I also tried to change the last line of code to `runtime.executeLib('package:my_package/main.dart', 'main', ['nice to meet you']);` then it produced a similar error `dart_eval runtime exception: type 'String' is not a subtype of type 'List<dynamic>' in type cast`.

[2022-09-07 15:31] #45 closed, assigned to nobody

[2022-09-14 18:59] Chappie74 commented on #21
Hey thanks for the work you've done. Any timeline on this?

[2022-09-14 22:25] ethanblake4 commented on #21
@Chappie74 is there specific package(s) you want to be able to use? Right now, adding this wouldn't be that useful because most Pub packages use features that dart_eval doesn't support yet, but if you have a specific package in mind I can work on supporting it.

(Also, most existing packages can be supported already by creating a bridge library like flutter_eval has, but I understand this isn't id

[2022-09-15 01:34] Chappie74 commented on #21
Hey yes. So i've created [this package ](https://pub.dev/packages/flutter_auto_gui).
Essentially I want to use it in another application, which allows the user to write/execute dynamic code to say move the mouse.
I previously had my setup in python, and could just have the user submit python code calling the various functions of the package and then just run it in eval. Similar functionality is ne

[2022-09-15 01:56] Chappie74 commented on #21
Alright. I'll give it a try. I did look over the examples and so forth, but somehow couldn't wrap my head around it. I'll give it another shot for a couple days and reach out if I'm having any troubles. Thanks again.

[2022-09-15 02:14] ethanblake4 commented on #21
@Chappie74 Yes. Bridging allows you to call *existing* Dart functions (and instantiate existing Dart classes) from dart_eval. It doesn't actually parse any of the code inside those classes or functions, just uses them as is, so they don't have any restrictions on what they can do.

Plus in this case you also only have to bridge the public API, not any of the platform interface stuff (although i be

[2022-09-23 05:48] ethanblake4 opened #47 "Better error message for import not found errors"
Right now unresolved imports just fail with a generic stack trace.

See post by @zmtzawqlp in https://github.com/ethanblake4/flutter_eval/discussions/9#discussioncomment-3714336_

[2022-10-02 21:27] ljmatan opened #48 "Support try/catch"
Reproduction:

[code]

[2022-10-03 03:24] ethanblake4 commented on #48
Indeed, exception handling in general is not really supported yet in dart_eval. I haven't yet had a chance to write down my thoughts on this yet, so I'll put everything here that I believe needs to be done to get this to work:

- [ ] Annotate values with runtime type sets at function & field boundaries
- [ ] Support runtime type-tests (ie. the `is` keyword)
- [ ] Catch all errors at bridge entry b

[2022-10-11 18:23] ethanblake4 commented on #47
Fixed in [v0.5](https://github.com/ethanblake4/dart_eval/commit/ce0b32c4f9afd27201e88bde5d1c61c33b5eeb0f)

[2022-10-11 18:23] #47 closed

[2022-10-13 17:01] ethanblake4 opened #51 "Super constructor params"
dart_eval should support the new super property syntax sugar, eg:
[code]

[2022-10-13 17:02] ethanblake4 opened #52 "Getters and setters for classes"
Already has runtime component, need support in compiler

[2022-10-13 17:04] ethanblake4 opened #53 "Runtime overrides/hot wrappers"
- Generated EVC should associate string IDs with bytecode offsets.
- Some way (annotation?) to define those IDs in the source
- Determine what if any stdlib classes should be hot wrappers

[2022-10-13 17:05] ethanblake4 opened #54 "Generic function types"
- [ ] Basic support: just convert these to `Function`
- [ ] Support for type checks

[2022-10-13 17:06] ethanblake4 opened #55 "Support for dart:io and runtime permissions"

[2022-10-14 23:57] ethanblake4 commented on #52
Fixed in v0.5.3 (https://github.com/ethanblake4/dart_eval/commit/c5795f1e284a46e44d2f9c30b73eebc3b2787fc3)

[2022-10-14 23:57] #52 closed

[2022-10-19 12:35] fzyzcjy opened #56 "Generate method bindings automatically"
Similar to the issue just now, looking at https://github.com/ethanblake4/dart_eval/pull/36/files I guess things like `String.endsWith` are manually bridged? If so, maybe we can auto generate it. You know, writing down those things by *hand* is very time consuming and error-prone, since we are humans not machines ;)

[2022-10-19 12:40] fzyzcjy opened #57 "A Dart interpreter?"
Hi, this project looks great and looks like a big amount of work!

If I understand correctly, this looks like a Dart interpreter. Is it possible that we directly contribute to the dartlang repo and create an interpreter there? They use C++ so I guess the interpretation may run faster since we can control more low-level things.

Given that Dart already have JIT and AOT, adding an interpreted mode l

[2022-10-19 12:48] fzyzcjy opened #58 "What's left before having a complete hot-update solution"
IMHO (hopefully I am not too optimistic about this!) with the open source library of you and me, maybe we can create a full hot-update solution and solve the https://github.com/flutter/flutter/issues/14330.

I guess maybe we need to finish these components:

* dart JIT mode - use in Android (since faster)
* dart_eval and flutter_eval - use in ios, because it needs interpreted code
* flutter_smooth

[2022-10-19 22:11] ethanblake4 commented on #56
Duplicate of https://github.com/ethanblake4/dart_eval/issues/20. Definitely planning on this!

[2022-10-19 22:11] #56 closed

[2022-10-19 22:16] ethanblake4 commented on #57
Thanks for the kind words!

I'd love an interpreter in official Dart, but I have a few reservations about it:

1. Adding an interpreter to Dart means that the Dart team has to commit to supporting it, which they have expressed quite a few times that they do not want to do. If they change their mind on this, I do think we could reconsider.
2. From a technical standpoint, a typical Dart 'interpreter

[2022-10-20 00:09] fzyzcjy commented on #57
Thanks for the reply!

I do think convincing the Dart team is probably the most insurmountable obstacle here :p

Could you please point out some discussions? Then I can see why they refuse.

I agree convincing them may be really hard :( But anyway I should see history discussions first to know why they refuse

Not sure about that. Indeed, when I am talking about Dart JIT on Android, I am still thi

[2022-10-20 00:12] fzyzcjy opened #59 "Add comparison testing to further verify correctness?"
Example: Generate or crawl a ton of random valid Dart code. Then feed it into both dart_eval and standard Dart, and check output. If they are not equal, we successfully find a bug.

[2022-10-20 00:12] fzyzcjy commented on #57
I am also worried about quality: The repo itself looks quite high quality already. However, if it has one bug in the whole repo, then someone will face big problem when using in real-world production app, because you know, a real-world app can be quite huge so touches each and every edge case. #59 may help somehow but I am not sure.

[2022-10-20 00:13] fzyzcjy opened #60 "Utilize the tests inside official dart repo to verify correctness?"
(Have not checked into details, just rough ideas.) Maybe we can utilize the tests inside official dart repo, so that we get a ton of test cases to verify dart-eval is correct, at least up to the dart repo :)

[2022-10-20 02:37] ethanblake4 commented on #57
I am mostly just referring to the ones in https://github.com/flutter/flutter/issues/14330.

Yes, this is ideal. But it may be very difficult - I will descibe this more below

I'd assume so :) I think most JITs have an interpreter component.

No, I think you are right. I can't find it.

Ok, I'm going to also describe here why it is hard to run app code in JIT and Flutter framework AOT.

First, a si

[2022-10-20 02:43] ethanblake4 commented on #60
Good idea. Do you know where these tests are? If not I'll poke around and see what I can find when I have time

[2022-10-20 02:57] fzyzcjy commented on #59
Totally agree, take your time!

[2022-10-20 02:57] fzyzcjy commented on #60
I have not looked into it, but I guess there must be some

[2022-10-20 03:09] fzyzcjy opened #61 "Seriousness/goal of the package?"
So, do you plan to make it a prototype or experiment or toy, or make it *the ultimate solution* to Flutter hot update?

If the former, I completely understand since nobody has infinite free time. If the latter, I would like to spend some more time looking at it, trying to see e.g. performance/architecture/whatever improvements.

[2022-10-20 03:14] fzyzcjy opened #62 "Maybe post and discuss on with community?"
If this is to be *the* solution of flutter hot update, IMHO discussing with more smart people may be helpful. For example, there may be serious problems that we both have not realized which completely blocks the package - good to know it earlier than later.

In addition, since Hot Update is the most upvoted issue in Flutter repo, I guess there will be some more people interested in this package an

[2022-10-20 03:17] fzyzcjy commented on #57
Btw could you please share some profiling data about your previous experiments? Would be great to see where a real app janks by looking at real data (e.g. line 10 is slow).

[2022-10-20 03:23] fzyzcjy opened #63 "Comparison between this and JavaScript or Wasm based solutions?"
(I am not against you! Just because if we are going to make it the solution, we have to think about all possible opposite voices by ourselves.)

So, what if someone (or us?) implements hot update via:

1. JavaScript?
2. Wasm?

(Hixie also mentioned these in 14330)

My non-mature answer:

* JS/Wasm have a much faster runtime (compared with dart_eval)
* But the bridge may be slow (or slower? or fast

[2022-10-20 03:26] fzyzcjy opened #64 "Potential optimization idea: Avoid wrapping or boxing"
in https://github.com/ethanblake4/dart_eval/issues/57#issuecomment-1284853344

[2022-10-20 03:32] fzyzcjy opened #65 "Potential optimization idea: Use another isolate (or multi isolate) to decode and prepare instructions as much as possible"
Recall that, it is O(1) not O(N) to pass data back to main isolate, if the extra isolate send it via terminating message.

For example: from raw bytes to objects, including bridge methods etc. So that in main isolate we only need to call that (dynamic) function and done.

[2022-10-20 03:36] fzyzcjy opened #66 "Potential optimization: Use integers instead of Strings to look up methods"
For example, strings here: https://github.com/ethanblake4/dart_eval/blob/c5795f1e284a46e44d2f9c30b73eebc3b2787fc3/lib/src/eval/shared/stdlib/core/map.dart#L21 "length" can become (index) 2 etc.

This must be combined with the https://github.com/ethanblake4/dart_eval/issues/20 because it is so error-prone to manually assign numbers.

If doing https://github.com/ethanblake4/dart_eval/issues/65, this

[2022-10-20 03:41] maks commented on #65
@fzyzcjy  why do you expect using a separate Isolate will improve performance?
Do you have some specific plan on how to parallelise the work dart_eval currently does and why do you expect the overhead of passing data to/from a background Isolate will not out weigh any improvement from multi-threading?
Have you done any benchmarks for this?

[2022-10-20 03:41] fzyzcjy opened #67 "Potential optimization: Auto AOT when possible, and fallback to interpreted"
For example, say I release v1.0.0 app with 10 pages. Then in v1.0.1, I change the UI (i.e. HomePage.build), and a few logic (e.g. HomePage.handleMyButtonClick).

Then, would be great to have all other pages (SecondPage, ThirdPage, ...) all in AOT, and also making all other untouched methods in HomePage still AOT, while only making HomePage.build and HomePage.handleMyButtonClick interpreted.

This

[2022-10-20 03:42] ethanblake4 commented on #61
I would love for it to be this and I am committed to continuing to improving it. That said, I don't currently make any money on dart_eval and there have only been a few community contributions; I think one of those would have to change for it to really progress fast enough to be the 'ultimate solution'. (I am in early talks with at least one company who might want to fund improvements, so that cou

[2022-10-20 03:43] maks commented on #66
@fzyzcjy could you post the benchmarks that indicate that this sort of micro optimisation will have a positive improvement in performance?

[2022-10-20 03:46] fzyzcjy commented on #65
@maks Hi, this is just an idea, but my logic is:

Data pass from main to secondary, O(N): The raw bytes, say only 100KB (compressed), just downloaded from the backend server. IMHO memory-copy 100KB is quite fast. IIRC I did even pass 20MB big image to secondary isolate with O(N) copy and it was still not noticeable.

Work done in secondary:

a. decompress the bytes

b. decode into a list of ops, i

[2022-10-20 03:47] fzyzcjy commented on #61
Looking forward to that!

https://github.com/ethanblake4/dart_eval/issues/62

[2022-10-20 03:48] fzyzcjy commented on #66
@maks These are just *potential* optimizations :) But we all know, strings are bigger than integers, so storage will be bigger and cpu will be slower. Yes it is a question how *much* it improves, so we may need to check it before implementing it.

[2022-10-20 03:49] fzyzcjy commented on #61
Btw I also do not make money for my open-source libraries as well. Fully understand your feeling :)

![image](https://user-images.githubusercontent.com/5236035/196852026-6b06c350-c347-4267-9240-cabdc8e5cd87.png)

[2022-10-20 03:53] fzyzcjy commented on #61
@ethanblake4

As for #62, I guess maybe even directly post on Reddit, saying your current situation - *if they want a hot update solution, they need to come and work together*.

Given it is the *most* upvoted issue in flutter repo, I guess many people will be interested.

[2022-10-20 03:59] ethanblake4 commented on #62
I have made [several](https://www.reddit.com/r/dartlang/comments/na0l5h/introducing_dart_eval_an_extensible_dart/?utm_source=share&utm_medium=web2x&context=3) [Reddit](https://www.reddit.com/r/dartlang/comments/uchl6a/introducing_dart_eval_v02_the_dart_interpreter/?utm_source=share&utm_medium=web2x&context=3) [posts](https://www.reddit.com/r/FlutterDev/comments/wux1vf/introducing_flutter_eval_one_

[2022-10-20 04:02] fzyzcjy commented on #62
I see. So weird that so many people needs this feature but there are so few upvotes!

That looks quite great - then the risk of having potential big problem is much lower.

[2022-10-20 04:02] #62 closed

[2022-10-20 04:25] ethanblake4 commented on #64
Boxing is _very_ core to how dart_eval functions (and is inspired by the way Dart itself functions).

The only reasonable option besides boxing is to tag every object created natively in dart_eval with a concrete runtime type set using an Expando (since this is probably something we'll have to do anyway) and do function lookups on the top type. It would be slower for method calls but there's a goo

[2022-10-20 04:28] ethanblake4 commented on #67
The first part of doing this is covered in https://github.com/ethanblake4/flutter_eval/issues/3 which I would like to have working in v0.6 (next major release).

The second part is basically some kind of auto-diffing to see what has changed since the last version. I have thought about that but it's definitely a 1.0 or post-1.0 feature.

[2022-10-20 04:36] ethanblake4 commented on #65
Using an isolate to decode the EVC bytecode file into the list of ops is something I'll probably do eventually, once EVC files are commonly large enough to cause jank when loading. (Also, EVC loading is really unoptimized right now generally, so there's probably some other things I'll change first before this)

[code]

Doing a JIT-like thing with the ops is _really_ interesting, beyond just the po

[2022-10-20 04:48] ethanblake4 commented on #57
Yeah, I will do this at some point. But the reality is that for now, the speed of dart_eval is not really a problem, because it doesn't support enough features to make such complex apps that actually stress its performance. Once it has enough feature support then this will start to become a problem again.

[2022-10-20 04:54] ethanblake4 commented on #62
The impression I've gotten is that a lot of the demand for Flutter code-push comes from China, probably less likely to use reddit? (If you speak Chinese I'd appreciate some insight on this. Maybe I could figure out how get more contributors involved)

[2022-10-20 05:15] fzyzcjy commented on #62
Yes I do speak Chinese, but I am not sure whether that's true - where do you get that impression of demand from China?

[2022-10-20 05:17] fzyzcjy commented on #64
Sounds reasonable!

[2022-10-20 05:19] fzyzcjy commented on #67
For a minimalist solution (which does create false positive though) - Maybe just generate bytecode for each and every code, and check equality?

[2022-10-20 05:20] ethanblake4 commented on #66
Looking up functions/properties by index is already done for classes defined _inside_ of dart_eval when the concrete type is known. What you're talking about though, if I'm getting this correctly, is actually a sort of global string hash for function/field names? I'm not too sure that would work since you'd have to allocate large arrays for each object and populate all the missing values with null

[2022-10-20 05:23] fzyzcjy commented on #57
I see. Look forward to the progress!

[2022-10-20 05:24] fzyzcjy commented on #66
Well I mean, at least, `case 'length'` becomes `case 2`. The "2" is generated by the compiler instead of "length" whenever it sees String.length.

[2022-10-20 05:26] ethanblake4 commented on #66
Oh, I see. So it's not an array lookup but just changing the Map key. That would work but probably very minor performance improvement.

[2022-10-20 05:32] fzyzcjy commented on #66
At least bytecode size may be smaller.

Anyway this is just "potential" optimization :)

[2022-10-20 05:52] ethanblake4 commented on #62
Lots of stars on this project from Chinese users, many other Flutter code push solutions are from China (jspatch, chimera, etc). Also comments like https://github.com/flutter/flutter/issues/14330#issuecomment-455405403 . I could be wrong though - I know flutter is generally very popular in China so it may just be that

[2022-10-20 17:16] ethanblake4 commented on #67
I don't really understand, can you explain more? What is it checking equality to?

[2022-10-20 17:21] ethanblake4 commented on #63
Well, the main issue with Wasm is that you cannot compile Dart code to Wasm (yet). Even once you can compile Dart code to a Wasm _app_ I'm not sure you will be able to compile it to a Wasm _module_ (for use inside another app). Basically, all of the same caveats apply to Wasm as to a native Dart interpreter (eg compiler still has to be able to add bridge boundaries)

[2022-10-20 22:25] fzyzcjy commented on #63
Yes, at least me :)

[2022-10-20 22:26] fzyzcjy commented on #67
Checking eq of bytecode?

[2022-10-21 01:24] maks opened #68 "Make String extend Pattern"
A number of core types are not yet supported in `EvalTypes`, but specifically the following are needed to be able to complete for all  methods on String being done in #37 :
* `Pattern`
* `Match`
* `RegExp`
* `Runes`
* `Iterable`

Adding `Iterable` seems to be already covered by #9

[2022-10-21 01:28] maks commented on #68
@ethanblake4 I'm thinking I'll just do the ones I can in #37 without these being available and then there can be a followup PR to add the remainder once these are supported.

[2022-10-21 05:55] ethanblake4 commented on #68
I have in-progress work on all of these except Runes (for now, just doesn't seem like priority). Might be a bit complicated that I'm using the bridge system while string is still KnownMethod but I'll figure something out. Definitely go ahead and do the ones that are possible now, thanks for your help :)

[2022-10-21 05:59] ethanblake4 commented on #67
So you are saying, generate bytecode for 'before' and 'after' case and then just see what has changed? Unfortunately i don't think that's possible due to the way the bytecode works (even a minor change to one part of the code can cause a lot of bytecodes to change, because they can store absolute offsets for functions/jumps which get 'pushed' by all previous changes)

[2022-10-21 06:01] ethanblake4 commented on #67
I will add though, it maybe should not work like that because it's also annoying for incremental compilation. Maybe we can do that then if I end up changing it

[2022-10-21 06:17] fzyzcjy commented on #67
Oh I see. That is a problem

[2022-10-21 07:17] maks commented on #68
Yes, definitely I think Runes is hardly used.

I've pushed up commit to PR #36 that now implements most of the String methods, hope that's of help. I'll look out for when the other core classes are ready and happy to circle back to finish off the remainder of the methods.

[2022-10-22 02:59] ethanblake4 commented on #51
Completed in https://github.com/ethanblake4/dart_eval/commit/a3deaccd6c85683c4efe134877dca9037b185cee

[2022-10-22 02:59] #51 closed

[2022-10-22 03:01] ethanblake4 opened #69 "Support arbitrary ordering of named/positional params"
Dart now allows named params to come before positional params.

[2022-10-22 03:29] ethanblake4 commented on #60
Some good ones here: https://github.com/dart-lang/sdk/tree/main/tests/language

Would be a good project for a contributor IMO, I'll add help wanted / good first issue.
For anyone who does want to take this on: It's important we don't end up testing the Dart language itself, just how well we match it. If Dart changes its internal implementation of the Regexp engine, that shouldn't cause us to fail

[2022-10-22 03:34] ethanblake4 opened #71 "Benchmarks and performance profiling"
Should do performance profiling on dart_eval so it can be improved. https://github.com/ethanblake4/dart_eval/issues/57#issuecomment-1284858452

[2022-10-22 03:38] #58 closed, assigned to nobody

[2022-10-23 02:52] ethanblake4 commented on #37
Completed in https://github.com/ethanblake4/dart_eval/commit/9e746fd4b4f470c8ed083d54b7d08586c0c93e2d

[2022-10-23 02:52] #37 closed

[2022-10-24 11:11] DrafaKiller opened #74 "Support for arrow function entrypoint in eval()"
We can't have an **expression body** because it throws a compile error, like
[code]

It only accepts a **block body**, like
[code]

### Code
[code]

### Error
<details>
<summary>Click to expand</summary>

[code]
</details>

[2022-10-24 15:32] ethanblake4 commented on #74
Expression body should be supported since version 0.4.6, what version are you using?

This might also just be because you are using the eval() method, can you try using compiler.compile() -> Runtime.ofProgram() -> executeLib() instead? (described more in the readme)

[2022-10-30 16:05] ethanblake4 commented on #74
Fixed in https://github.com/ethanblake4/dart_eval/commit/4e7d946bb1ebfcb621bc8eae64240283b9a5b9ec and https://github.com/ethanblake4/dart_eval/commit/36e0af75501bceaf159c0f6e1377e8d4b3066126, will be in next release

[2022-10-30 16:05] #74 closed

[2022-11-04 21:18] ethanblake4 opened #75 "Remove dcli"
dcli is a [very bloated](https://github.com/onepub-dev/dcli/blob/master/dcli/pubspec.yaml) package with many dependencies that can cause issues, see:

_@anz-ryu's comment in https://github.com/ethanblake4/flutter_eval/issues/17#issuecomment-1302843228_

It should be removed since we are only using a few of its features.

[2022-11-05 11:53] maks commented on #75
I used https://pub.dev/packages/cli_repl in my repl package and found it worked quite well and is light weight.

[2022-11-08 00:14] normidar opened #76 "Can I build a project that on my device?"
Hey friend, I want to create an IDE to edit my dart project.
Use the IDE I can work on the train, but I can't find a way to build it on the documents.

Maybe I will copy all my codes to a string and complete it, is there some easier way to do it?

[2022-11-08 04:36] ethanblake4 commented on #76
Hi, I'm afraid I don't understand. Can you explain more what exactly you are trying to do? Then I will be happy to help.

[2022-11-08 15:21] normidar commented on #76
Complete files on runtime.

[2022-11-08 16:18] normidar commented on #76
use `path_provider` to get a directory, there are more than one dart files in the folder, how to run them on realtime?

[2022-11-08 16:42] ethanblake4 commented on #76
Oh gotcha. I have code that does this, you can look at it: https://github.com/ethanblake4/dart_eval/blob/4f98c9a6e2117fbff429f3f2f960ab6cda6869cc/bin/dart_eval.dart#L54
(Skip the part about bindings)

[2022-11-08 23:24] normidar commented on #76
Wow, Thank you very much!

[2022-11-13 20:45] #75 closed

[2022-11-13 22:19] anlumo opened #78 "Security Implications?"
Assuming that I download untrusted code to my Windows application written in Flutter, compile the code using dart_eval and execute it, can it do anything problematic, like access the file system or the network?

As far as I can tell, `dart:io` is not exposed, but is there anything else in there?

[2022-11-14 00:07] ethanblake4 commented on #78
It cannot (unless you add your own bridge plugins) and it would be considered a security vulnerability if there was some way to achieve network or file access.

Long term, I'm working on a runtime permissions system for when dart:io does eventually get exposed.

[2022-11-14 00:17] anlumo commented on #78
Excellent, thank you!

[2022-11-14 00:17] #78 closed

[2022-11-19 22:30] aktxyz opened #79 "passing an instance of a domain model into Eval ?"
I asked something similar in the flutter_eval project, but now that I think about it, this is probably more of a dart_eval thing.

I have a package with a bunch of class definitions that contain the main models for my project.

I would like to pass an instance of one of these models into the eval'd code and use some of the model properties in the eval'd code.

Is there a way to do something like t

[2022-11-20 00:27] aktxyz commented on #79
Looking at the example with the `TimestampedTime ` class, it looks like there is a fair amount of boilerplate to create, and with a nested domain model, it can probably get a bit hairy (code gen would be awesome!)

If flinging random classes into eval is a pain, what about passing in a Map<String,String> ?  I gave that a quick go and it had compile issues ... which I kind of expected as the whole

[2022-11-20 07:35] ethanblake4 commented on #79
Hmm, can you try using an $Map instead of an $Object?

If there's still an error please paste the message.

[2022-11-20 14:46] aktxyz commented on #79
Somehow I missed $Map, which sounds perfect.

I tried the following 2 way to pass in my map ...

[code]

and get this error in my console ...

[code]

[2022-11-20 16:49] ethanblake4 commented on #79
That looks like an argument count mismatch to me. Are you sure the constructor is still taking 2 arguments?

[2022-11-20 17:49] aktxyz commented on #79
Well you nailed that one ... my fault after too much copy/paste trial/error stuff.

Thanks for all the help btw.

Now I am getting ...

[code]

It's not liking my passed in Map<String,String>, it looks like in the eval'd code the Map may actually be null. Here is the eval'd widget code (mostly just the normal example code) and the code that creates the widget ...

[code]

I am using creating the w

[2022-11-20 19:46] aktxyz commented on #79
It looks like `runtimeOverride` is returning null, I was not really sure what the id parameter was for on `$Map`, so was just using a random string, and it looks like that is probably ok.

When I go to use the map in the eval'd widget like this `map['test']` ... the `$getProperty` method is never getting called, and it seems like it should.

[code]

[2022-11-21 00:52] ethanblake4 commented on #79
First of all, you should be using `Map.wrap` which does not use `runtimeOverride`.

Anyway, after a little investigation it looks like you have to box the _contents_ of the $Map too, not just the map itself.

So instead of:
[code]

you'd put:
[code]

Hope that helps!

[2022-11-21 01:18] aktxyz commented on #79
With that example it is starting to make some sense.

But alas, with the above change to calling EvalWidget (and with the same widget code) ...

[code]

[2022-11-27 03:43] ethanblake4 commented on #79
Hi @aktxyz sorry for the late reply, I have been busy with family.
I'm unable to reproduce this error, I tested your code exactly as you wrote and it works perfectly fine for me.

If you can link me to a repo containing the full code that causes the error I'll take another look.

[2022-11-27 13:49] aktxyz commented on #79
hmm, that is great to know, I will get a repo together to share, thanks !

[2022-11-27 17:09] aktxyz commented on #79
Ha, of course when I make a small sample repo, it works fine.  It turns out my main issue was accessing the length property on the map ... which was causing this error ```_CastError (Null check operator used on a null value)```.

Other errors were caused by flailing around trying to see what caused the NullCheck error.

Thanks !

[code]

[2022-11-27 17:11] aktxyz opened #80 "some other dart syntax goodness"
It looks like the ?? operator and the the ? : conditional syntax are not yet supported.  I find these used all the time in flutter work, any chance these are on the roadmap ?  Or even some pointers/advice on how to work thru adding these for a PR?

[2022-11-27 17:13] ethanblake4 commented on #79
Ah yeah, that will be fixed when I get around to #9. Glad it's working otherwise!

[2022-11-27 17:13] #79 closed

[2022-11-27 17:24] ethanblake4 commented on #80
I had these on the roadmap for v0.8 (probably about 8 months out).

If you're interested in making a PR this would probably not be a terribly difficult one. Write a test that uses ?? or ?: and see where it errors to get started; then just think about how to desugar it using other existing code as a reference. `??` is basically `if (x == null) y else x` so you can look at how dart_eval handles `if`